.App {
  text-align: center;
}

.navigation {
  list-style: none;
}

.navigation > li {
  display: inline-block;
}

.navigation > li + li {
  margin-left: 20px;
}

.navigation > li + li:before {
  content: "->";
  margin-right: 22px;
}

a.active {
  font-weight: bold;
}
